//导航栏布局样式
.navbar{
  width: 100%;
  height: $navbar-height;
  z-index: $zindex-0;
  background-color: $navbar-background;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  z-index: 1001;
}


.container{
  width:90%;
  padding 20px 0;
  margin:0 auto;
}

.account-container,.patch-container{
  margin 0 auto;
  padding 30px 40px 40px;
  width: 400px;
}

.Sticky-holder{
  height:$navbar-height;
}
.layout-logo {
  position: relative;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0px;
  height: 64px;
  line-height: 64px;
  background-color: #041428;
  .logo-img {
    width: 40px;
    margin-right: 8px;
  }
  .logo-text {
    vertical-align: text-bottom;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    color: #999;
  }
}
.rootRoute{
  width: 256px ;
  height: 100;
  background-color: #333;
}
.trigger {
  font-size: 18px;
  line-height: 50px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
  //去除谷歌自带样式
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid #CCC!important;
}






