
.mainContainer{
  width:100%;
  overflow:auto;
}
.activityContainer{
  width:100%;
  height:655px;
}
.signContainer{
  position: relative;
  float:left;
}
.signButton{
  position: absolute;
  width: 100px;
  float: left;
  left: 50%;
  bottom: -22px;
  margin-left :-50px;
  text-align :center;
}
.activityButtonGroup{
  width: 868px;
  height: 128px;
  margin-top: 143px;
  margin-left: 61px;
  float: left;
}
.signIcons{
  width: 60px;
  height: 65px;
  float: left;
  margin:36px 5px 0 7px;
  text-align: center;
  line-height: 96px;
  cursor: pointer;
  opacity: 0.6;
}
.signValue{
  color:#FFF
}
.signActivityPrice{
  width:465px;
  position:relative;
  left:20px;
  top:35px;
  float:left;
}
.signActivityPrice table{
    width:100%
}
.signHeader{
  text-align :center;
  color: #fff;
  height: 23px;
  display: block;
  font-size: 20px;
  line-height: 23px;
}

.signActivityPrice table{
  margin-top: 11px;
}
.signActivityPrice table th,.signActivityPrice table td{
  padding: 9px 0px !important;
  width:75px;
  text-align :center;
}
.signActivityPrice table th,.signActivityPrice table td{
  background: none;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  color: #a44f21;
  border-color: transparent;
}
.firstTable{
  border-left: 1px solid #e8bb9b!important;
}
.table{
  padding:10px;
}

.consumption{
  width:416px;
  float:left;
  position: relative;
  left: 72px;
  top: 43px;
}
.exchangeButton{
  position: relative;
  float:left;
  left: 97px;
  top: 62px;
  padding: 10px 126px;
  border-radius: 6px;
  background-color :#FF9900;
  border-color:#FF9900;
  color:#FFF;
}
.activityTime{
  width:316px;
  height:30px;
  line-height :30px;
  margin-left:100px;
  top:7px;
  float: left;
  position: relative;
}
.rechargeAmount{
  width: 49%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #FFF;
  padding-left: 64px;
  float:left;
}
.amount{
  font-size:16px;
  color: #FFF;
  margin-left:60px;
}
.reward{
  font-size: 25px
  color: #FFF;
  float: left;
  left: 73px;
  top:5px;
  position: relative;
}

.signRule{
  width:430px;
  height:300px;
  float:left;
  position: relative;
  left: 53px;
  top: 79px;
}
.signRuleHeader{
  width:100%;
  height:30px;
  line-height:30px;
  text-align :center;
  font-size:20px;
  color:#FFF;
  margin-bottom :10px;
}
.signRule p{
  font-size:16px;
  color:#FFF;
}
.openSign{
  opacity: 1;
}
.haveSignSuccess{
  backgroundSize:100% 100%;
  opacity:1;
}
.dialActivityContainer{
  width:100%;
  height:100%;
  color:#000;
}
.dialActivityTitle{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 30px 10px 0 30px;
}
.dialActivityDate{
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  height: 30px;
  padding-left: 30px;
  margin-top: 30px;
  border-bottom:1px solid #000;
}
.dialActivityDateContent{
  color: #666;
  margin-left: 30px;
}
.dialActivityRule{
  padding: 10px 30px 0 50px;
  color:#666;
}
.dialActivityDetail{
  margin-top:10px;
  padding-left:50px;
}
.dialActivityGameTimes{
  float: left;
  margin-right:30px;
}
.integration{
  color:#FF0000;
}
.dialActivity{
  width:100%;
  height:100%;
  margin-top: 79px;
}
