.category-divLeft {
  float: left;
  width: 22%;
  min-width: 270px;
}

.category-divRight {
  float: right;
  width: 72%;
  min-width: 700px;
}

.category-divLeft, .category-divRight {
  border: 1px solid #ebedf0;
  //min-height :700px;
  height: 800px;
}

.category-h2Title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.category-operation {
  text-align: center;
  margin-top: 20px;
}
  .ant-pagination-item-link{
    height:100%;
  }

.category-operation div {
  clear: both;
  margin: auto;
}
.newStyle{
  color:red;
  display:inline-block;
  margin-right :10px
}