.page {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  height: 850px;
  width: 1196px;
  margin: 0 auto 30px;
}

.box1 {
  float: left;
  width: 887px;
  height: 100%
}

.activityPic{
  cursor: pointer;
}
.box2 {
  width: 308px;
  float: right;
  height: 100%
}
  
.lotteryTitleBack {
  width: 887px;
  background: #2d3945;
  font-size: 18px;
  height: 40px
}

.lotteryTitle {
  text-align left;
  margin-left: 24px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 40px;
}

.lotteryBack {
  width: 877px;
  height: 458;
  margin-left auto;
  margin-right auto;
  background: #354b5d
}
.play-width{
  width :725px;
  padding: 20px 0;
}
.useInfo {
  width: 100%;
  height: 245px;
  background: #3b465d;
}

.user {
  text-align center;
  float top;
  padding-top: 15px;
}

.balanceInfo {
  text-align center;
  margin-top 10px;
  background: #293241;
  width: 100%;
  heigh: 30px;
}

.balanceInfoCl {
  overflow: hidden;
  float left;
  width 150px;
  text-align center;
  font-size:12px;
  color: rgba(255, 255, 255, 0.8);
  height: 32px;
  line-height :32px;
  cursor: pointer;
}



.userButton-left {
  width: 100px;
  text-align center;
  color: rgba(255, 255, 255, 0.8);
  float left
  margin-top: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
}

.userButton-middle {
  width: 100px;
  text-align center;
  color: rgba(255, 255, 255, 0.8);
  float left
  margin-top: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
}

.userButton-middle:hover {
  color: #8ac9ff;
}

.userButton-left:hover {
  color: #8ac9ff;
}

.userButton-right:hover {
  color: #8ac9ff;
}

.userButton-right {
  margin-top: 18px;
  width: 100px;
  text-align center;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
}

.systemNotice {
  font-size 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-top 13px;
  width: 300px;
  background: #293241;
  height: 40px;
  padding: 0 30px;
  line-height: 40px
}

.sysNoticeBack {
  background: #3c475d;
  width: 296px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.sysNoticeDetail {
  color: rgba(255, 255, 255, 0.8);
  background: #3c475d;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  display: flex;
  transition-duration: 0.4s;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
  .moreNotice{
    text-align center;
    font-size :14px;
    color: rgba(255, 255, 255, 0.8);
    line-height :30px;
    width 100%;
    transition-duration: 0.4s;
    cursor: pointer;
  }
    .moreNotice:hover{
      color:#8ac9ff;
      background: #434f63;
      border 0.7px;
      border-color :#4d576b
    }

.appDLTitle {
  font-size 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-top :10px;
  width: 100%;
  background: #293241;
  height: 40px;
  padding: 0 15px;
  line-height: 40px
}
  .app-notisfy{
    height: 210px;
  }
.home-app-loadDown{
  color: rgb(255, 255, 255,0.85);
  line-height: 23px;
  font-size: 13px;
  padding: 10px 0;
}
.dlDetail {
  background: hsla(212, 26%, 28%, 0.9);
  width: 290px;
  margin-right: auto;
  margin-left: auto;
  height: 318px;
}
  .noticeTitle{
    margin-left: 11px;
    float left;
    font-size:12px;
    width: 205px;
    align-self: center;
  }
    .sysNoticeDetail:hover{
      color:#8ac9ff;
      background: #434f63;
      border 0.5px;
      border-color :#4d576b
    }
    .noticeTime{
      color: #cccccc;
      font-size:12px;
      float right;
      align-self: center
    }

.button {
  border: 0.5px solid #575f72;
  color: rgba(255,255,255,0.85);
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 18px;
  transition-duration: 0.4s;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 30px;
  align-self: center;
  line-height: 28px;
}
.xuan-5{
  width: 145px;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding-left: 20px;
  float: left;
  height: 105px;
  line-height: 105px;
}
.button:hover {
  border: 0.5px solid #8ac9ff;
  color: #8ac9ff;
  background: #375065;
  height: 30px;
  align-self:center
}
.name-play{
  color: rgb(138, 201, 255);
  font-size: 14px;
  margin-left: 10px;
  display: inline-block
}
.ssc {
  background: rgba(53, 68, 84, 0.6);  width: 877px;
  margin auto;
  display:flex
}

.ks {
  background: #374b5e;
  width: 877px;
  margin auto;
  height: 75px;
  display:flex
}

.syxw {
  background: #374b5e;
  width: 877px;
  margin auto;
  align: center;
}

.lotteryCode {
  width: 145px;
  text-decoration: none;
  display: inline-block;
  align-self:center;
  padding-left: 20px;

}


  .small{
    line-height 30px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left
    font-size:10px;
    -webkit-transform:scale(0.9);
    width 120%
  }

.clear {
  clear: both;
}