.phoneHeadTop {
  color: #fff;
  font-size: 20px;
  text-align: center
}

.phoneHeadText {
  height: 100%;
  width: 100%;
}

.phoneIconStyle {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 25px;
}
.phoneIconStyle:active {
  opacity :0.9;
}

.phoneInputStyle {
  border: none;
  height: 40px;
  width: 80%;
  display: inline-block;
  vertical-align: top;

}

.phoneTextStyle {
  height: 40px;
  width: 20%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 40px;
  font-size: 18
}

.phoneDesStyle {
  width: 100%;
  padding: 8px;
  display: block;
  font-size: 14px;
}

.phoneBtnStyle {
  padding-left: 15px;
  padding-right 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.phoneButton {
  width: 80%;
  height: 30px;
  background-color: #121435;
  color: #fff;
  border: none;
  margin: 0 auto;
  border-radius: 15px;
  letter-spacing: 2px;
}
.phoneButton:active {
  opacity :0.9;
}

.phoneEye {
  position: absolute;
  right: 15px;
  line-height: 40px;
  font-size: 20px;
}
