// Colors
// --------------------------------------------------
$white= #fff
$black= #000
$font-color=#333
$bottom-border=#aaa
$font-blue=#4fabf1
$btn-blue=#68a9eb
$play-back-85=rgba(34,44,56,0.85);
$play-back-65=rgba(34,44,56,0.65);
$btn=#253954
$orange = #FF824C
$font-white=rgba(255,255,255,0.85)
$border-white=rgba(255,255,255,0.65)
$play-back-op=rgba(34,44,56,0.75)
$tab-select=#0D1A2B;
// Z-index master list
// --------------------------------------------------
$zindex-bottom  = -1
$zindex-0       = 1000
$zindex-1       = 1010
$zindex-2       = 1020
$zindex-3       = 1030
$zindex-4       = 1040
$zindex-5       = 1050

//Navbar Style
$navbar-height = 60px;

//Global Font Style
$font-default = "PingFang SC","Helvetica Neue","Hiragino Sans GB",
        "Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
$font-size-default = 15px;

// Global text color on <body>
$text-color                   = $black-dim

// Global line height
$line-height-base           = 1

// link color.
$link-color                   = $blue-deep
//$link-hover-color             = $blue-bright

// Layout sizes
// --------------------------------------------------
$sidebar-desktop                = 80px