// Colors
// --------------------------------------------------
$white        = #fff
$whitesmoke   = #f5f5f5
$gainsboro    = #eee
$gray-lighter = #ddd
$grey-light   = #ccc
$grey         = #bbb
$grey-dark    = #999
$grey-dim     = #666
$black-light  = #555
$black-dim    = #333
$black-deep   = #222
$red          = #ff2a2a
$red-dark     = #c7254e
$blue-bright  = #2ca6cb
$blue         = #0684bd
$blue-deep    = #262a30
$green-deep   = #50bcb6
$orange       = #fc6423
$pink-light   = #f9f2f4
$brown-lighter = #FFFCF5
$brown-deep = #F7F6F2;

// Z-index master list
// --------------------------------------------------
$zindex-bottom  = -1
$zindex-0       = 1000
$zindex-1       = 1010
$zindex-2       = 1020
$zindex-3       = 1030
$zindex-4       = 1040
$zindex-5       = 1050

//Theme
// --------------------------------------------------
$background = $brown-deep;
$layout-background = $white;
$sidebar-background = $black-dim;
$navbar-background = $white;

//Navbar Style
$navbar-height = 60px;

//Global Font Style
$font-default = "PingFang SC","Helvetica Neue","Hiragino Sans GB",
        "Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
$font-size-default = 15px;

// Global text color on <body>
$text-color                   = $black-dim

// Global line height
$line-height-base           = 1

// link color.
$link-color                   = $blue-deep
//$link-hover-color             = $blue-bright

// Layout sizes
// --------------------------------------------------
$sidebar-desktop                = 80px