body {
//避免将页面缩太小导致布局混乱
  min-width: 1280px;
  min-height: 800px;
  font-size: $font-size-default;
  font-family: $font-default;
  line-height: $line-height-base;
  background-color: $background;
  color: $text-color;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//初始化
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #333;
  font-size: 12px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}

ul, ol {
  list-style-type: none;
}

select, input, img, select {
  vertical-align: middle;
}

input {
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: #009;
}

li {
  list-style-type: none;
}

a:visited {
  color: #800080;
}

a:hover, a:active, a:focus {
  color: #c00;
  text-decoration: underline;
}

input::-webkit-input-placeholder {
  color: $bottom-border
}

button {
  outline: none;
}

button:hover {
  cursor: pointer
}

img[src=""] {
  opacity: 0;
}

table tr th {
  font-weight: 300;
}

//语义话
.mr10 {
  margin-bottom: 10px;
}
.img-set{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.mr20 {
  margin-bottom: 20px;
}

.mr30 {
  margin-bottom: 30px;
}

.mr40 {
  margin-bottom: 40px;
}

.pd3 {
  padding: 0 3px
}

.pd10 {
  padding: 0 10px
}

.pd20 {
  padding: 0 20px
}
a:visited {
  color:none;
}
a:link {
  color: none;
}
.clearFloat {
  overflow: hidden;
}

.clearBoth {
  clear: both
}
.clear-fix:after{
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.textRight {
  text-align: right
}

.textCenter {
  text-align: center
}

.relative {
  position: relative;
}

.textLeft {
  text-align: left
}

.centerAll {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.border-radius5 {
  border-radius: 5px
}

.right {
  float: right
}

.left {
  float: left
}

.fontSize12 {
  font-size: 12px
}

.fontSize14 {
  font-size: 14px
}
.fontSize16 {
  font-size: 16px
}
.fontSize20{
  font-size:20px;
}

.inline-block {
  display: inline-block
}

.fontColor {
  color: $orange;
  font-size :14px;
}
.letter1 {
  letter-spacing: 1px;
}
.letter5{
  letter-spacing: 5px;
}

.width100 {
  width: 100%;
}
.hei100 {
  height: 100%;
}
.width-30{
  width: 30%;
  height: 100%;
  text-align: center
}
.width-70{
  width: 70%;
  height: 100%;
  text-align: center
}